<div class="bg-footer py-5">
    <div class="grid container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg d-flex flex-column text-center">
                <div class="p-2">
                    <img src="assets/img/logo-footer.png" alt="">
                </div>
                <div class="py-5"></div>
                <div class="pt-5">
                    <div class="col d-flex flex-row social justify-content-center">
                        <div class="p-2">
                            <button class="btn btn-social">
                                <img src="assets/img/fb.png" alt="">
                            </button>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-social">
                                <img src="assets/img/twitter.png" alt="">
                            </button>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-social">
                                <img src="assets/img/in.png" alt="">
                            </button>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-social">
                                <img src="assets/img/youtube.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg d-flex flex-column p-5">
                <h6 class="pb-4">Rate a company</h6>
                <div class="py-3"><a class="nav-link " href="">A propos de Rate A Company</a></div>
                <div class="py-3"><a class="nav-link" href="">Articles sur la RSE</a></div>
                <div class="py-3"><a class="nav-link" href="">Vidéos sur la RSE</a></div>
                <div class="py-3"><a class="nav-link" href="">Tarifs</a></div>
                <div class="py-3"><a class="nav-link" href="">Contact</a></div>
            </div>
            <div class="col col-lg d-flex flex-column p-5">
                <h6 class="pb-4">Services PRO</h6>
                <div class="py-3"><a class="nav-link " href="">AUDIT RSE</a></div>
                <div class="py-3"><a class="nav-link" href="">Devenir PRO</a></div>
            </div>
            <div class="col col-lg d-flex flex-column p-5">
                <h6 class="pb-4">Legal</h6>
                <div class="py-3"><a class="nav-link " href="">Mentions légales</a></div>
                <div class="py-3"><a class="nav-link" href="">Conditions d’utilisation</a></div>
                <div class="py-3"><a class="nav-link" href="">Plan du site</a></div>
            </div>
        </div>
    </div>
</div>